/log.txt
/Rezalts/Lab_1.docx
/Rezalts/Lab_2.docx
/Rezalts/Lab_3.docx
/Rezalts/Lab_4.docx
/Rezalts/Lab_6.docx
/Charts/Lab_1.png
/Charts/Lab_2.png
/Charts/Lab_2_general.png
/Charts/graf1.png
/Charts/graf2.png
/Charts/graf3.png
/Charts/graf4.png
/Charts/Lab_4_event1_Q.png
/Charts/Lab_4_event1_t2.png
/Charts/Lab_4_event1_t.png
/Charts/Lab_4_event2_Q.png
/Charts/Lab_4_event2_t2.png
/Charts/Lab_4_event2_t.png
/Charts/Lab_3_event1_q.png
/Charts/Lab_3_event1_t.png
/Charts/Lab_3_event2_q.png
/Charts/Lab_3_event2_t.png
/Charts/Lab_3_event3_q.png
/Charts/Lab_3_event3_t.png
/Charts/Lab_5_a.png
/Charts/Lab_5_q.png
/Rezalts/Lab_5.docx
